### Importing Libraries

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Loading Dataset

In [2]:
df=pd.read_csv(r"C:\Users\varen\Downloads\iris.csv")

In [3]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## Encoding Categorical to Numerical

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
df['species_en']=le.fit_transform(df['species'])

In [15]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  species_en
0           5.1          3.5           1.4          0.2  setosa           0
1           4.9          3.0           1.4          0.2  setosa           0
2           4.7          3.2           1.3          0.2  setosa           0
3           4.6          3.1           1.5          0.2  setosa           0
4           5.0          3.6           1.4          0.2  setosa           0

In [16]:
# Removing species column
df=df.drop(columns='species',axis=1)

In [17]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species_en
0           5.1          3.5           1.4          0.2           0
1           4.9          3.0           1.4          0.2           0
2           4.7          3.2           1.3          0.2           0
3           4.6          3.1           1.5          0.2           0
4           5.0          3.6           1.4          0.2           0

In [4]:
df.shape

(150, 5)

In [5]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [6]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

### Splitting data 
Independent and Dependant variable

X = Independent vaariables
y = Dependent variable

In [7]:
X=df.drop(columns='species')
y=df['species']

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
# The number of rows and columns in X_train and X_test
print(X.shape,X_train.shape,X_test.shape)

(150, 4) (120, 4) (30, 4)

## Model Creation
* Logistic regression is a statistical model used to predict the probability of a binary outcome (0 or 1, yes or no) based on one or more predictor variables

In [ ]:
model=LogisticRegression()